@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Lemon');


header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/4.jpg');
    background-position: center;
    background-size: cover;
}
header nav span i{
    color: #FFF !important;
     z-index: 2;
}
header .navbar{
    background-color: transparent !important;
    color: #FFF !important;
     z-index: 2;
    padding: 5px 10px;
    position: fixed;
    width: 100%;  
    
}
@media (max-width: 991px){
    header .navbar{
         background: rgba(0, 0, 0, 0.9) !important;
    }
}
header .navbar.col{
    background: rgba(0, 0, 0, 0.9) !important;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link{
    color: #FFF !important;
    padding:20px;
    font-family: 'Lemon', cursive;
    transition: 0.5s;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #18d26e !important;
     
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #18d26e !important;   
}
header .navbar-brand{
  color: #fff !important;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
  font-family: 'Lemon', cursive;
}
.overveiw{
    position: absolute;
    left: 0; top: 0; 
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh
}

header .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 0;left: 0;
    right: 0; bottom: 0;
    text-align: center
}


.info p {
  color: #fff;
    cursor: pointer;
}
.info p{
    color: #18d26e;
}
.info .name{
    color: #fff;
}
.info img{
    margin: 10px 0 30px;
    transition: 1s;
}
.info img:hover{
    transform: scale(1.3,1.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info button{

     margin-top: 20px;
    background: #18d26e;
    width: 200px;
    color: #fff;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5;
}
.info button:hover {
  background: #fff;
  color: #18d26e;
}

/* ////////////////////// */

#someinfo{
    padding: 60px 0;
    /* background: #00758F; */
    border-bottom: 2px solid #18d26e;
}
#someinfo .bod{
    background: #fff;
}
#someinfo h4{
   margin: 25px 0;
   font-size: 20px;
}

#someinfo .bod > div{
    margin-bottom: 30px;
}

#someinfo .bod h2{
    color: #18d26e;
    margin: 10px 0;
    font-family: 'Lemon', cursive;
    text-transform: uppercase;
    font-size: 25px
}
#someinfo .bod p{
    margin: 20px 20px 0 0;
    

}
.myborder{
    border-left: 1px solid #18d26e;
}
#someinfo .bod ul{
    margin-top: 25px; 
}
#someinfo .bod ul li {
    margin-top: 15px;
    text-transform: uppercase;
}

#someinfo .bod i{
    color: #18d26e;
    padding-right: 10px;
}
@media (max-width: 575px){
    #someinfo .bod{
        margin-left: 20px;
    }

}

/* ////////////////////// */

#about{
    padding: 50px 0;

}
#about .container > h3{
    padding-bottom: 10px;
    border-bottom: 3px solid #18d26e;
    width: 150px;
    margin: 20px auto 30px auto;
    /* font-weight: bold;
    font-size: 32px; */
    font-family: 'Lemon', cursive;
}
#about .container > p{
    margin-bottom: 30px;

}
#about .row > div{
    padding: 10px;
    background: #fff;
    transition: 0.8s;
    
}
#about .row .fa{
    color: #18d26e;
    padding: 10px 0;
}
#about .row .fas{
    color: #18d26e;
    padding: 10px 0;
}

 .row .bord{
    border-right: 2px solid #18d26e;
     border-left: 2px solid #18d26e;   
}
 .row .bord1{
    border-right: 2px solid #18d26e; 
}
#about .row > div:hover{
   background:  #18d26e;
   color: #fff; 
}
#about .row > div:hover .fa{
   color: #000; 
}
#about .row > div:hover .fas{
    color: #000; 
 }

@media (max-width: 991px){
    #about .row .bord{
     border: none;   
         border-left: 2px solid #18d26e;
}
#about .row .bord1{

    border: none; 
     border-right: 2px solid #18d26e; 
}
}
@media (max-width: 600px){
        #about .row .bord{
     border: none;   
      
}
#about .row .bord1{

    border: none; 
      
}


}


#skill{
    padding: 50px 0;
     background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

#skill .colo{
/*    color: #18d26e;*/
    padding-bottom: 10px;
    border-bottom: 3px solid #18d26e;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
}


#skill .box .chart{
    position: relative;
    width: 110px; height: 110px;
    text-align: center;
    line-height: 110px;
    margin-left: 25px;
    font-size: 20px;
    margin: 30px auto;
}
#skill .box canvas{
    position: absolute;
    top: 0; left: 0;
}


/*  Start Contact */

#contact{
    padding: 70px 0;
    background: linear-gradient(0deg,#18d26e 50%,#fff 50%,#fff);
    position: relative;
    height: 800px;
}
#contact .wrapper{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

#contact .wrapper h2{
    color: #18d26e;
    margin: 0; padding: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#contact .wrapper input-filed{
    position: relative;
    width: 100%;
    margin-top:50px;
}
#contact .wrapper input,
#contact .wrapper textarea{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    resize: none;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #18d26e ;
    color: #666;
}

#contact .wrapper .btnn{
    margin-top: 20px;
    background: #18d26e;
    width: 200px;
    color: #fff;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5;
    float: right;
}
#contact .wrapper .btnn:hover{
    background: #08aa53;
    box-sizing: border-box;
  
}
@media (max-width: 660px){
    #contact .wrapper{
        width: 400px;
    }
}
@media (max-width: 420px){
    #contact .wrapper{
        width: 250px;
    }
    #contact .wrapper h2{
        margin-bottom: 25px;
    }
    #contact .wrapper .btnn{
        float: none;
        width: auto
        
    }
}

/*   End Contact */

#con{
    padding: 70px 0 40px;
    background: rgba(0, 0, 0, 0.9); 
    color: #fff;
}
#con .logo{
  color: #fff !important;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
    transition: 1s;
    cursor: pointer;

}
#con .logo:hover{
    color: #18d26e;
     border-left: 4px solid #fff
}

#con h2{
    transition: 1s; 
    cursor: pointer;
}
#con h2:hover{
    color: #18d26e !important;
}
#con .ss ul{
    
}
#con .ss ul li a{
    padding: 12px 8px;
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}
#con .ss ul li:hover a{
    color: #18d26e;
    padding-left: 20px;
   
}
#con .ss ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
    padding: 12px 0;
}

.social{
    padding: 20px 0 10px;
}
.social ul li{
    display: inline-block;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    padding: 8px;
/*    transition: 1s;*/
    border:none;
}
.social ul li a{
    padding: 12px 8px;
    color: #fff;
    text-decoration: none;
}

.social ul li:hover{
      background : #18d26e;   
}
.social ul a .fa{
/*    position: relative;*/
    transition: 0.5s;
}
.social ul a:hover .fa{
    transform: rotateY(360deg);
}



footer{
    padding: 20px 0;
     background:#000;
    color:#fff;
}
footer p{
    margin: 0;
}
footer span{
    color: #18d26e;
}
























    



