<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <title>ali WEB SITE</title>
            <link rel="icon" href="{% static 'mainn/img/ali.jpg'%}">  <!--icon of title page -->
            <link rel="stylesheet" href="{% static 'mainn/css1/anm.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css' %}">
            <link href="{% static 'mainn/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'mainn/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'mainn/css1/style.css' %}" rel="stylesheet">
    </head>
    
    <body>
        <!-- Start Header -->
        
   <header id="home">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#">ALI</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#home">HOME <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#someinfo">INFO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#about">EDUCATION</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#skill">SKIllS</a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link" href="#con">ABOUT</a>
                      </li>
                      <li class="nav-item">
                       
                      </li>
                      
                    </ul>
                  </div>
              </div>
           </nav>
           <div class="overveiw"></div>
           <div class="info">
               <img src="{% static 'mainn/img/ali.jpg'%}" alt="......" width="200px" height="200" class="rounded-circle wow bounceInDown" data-wow-delay="1s">
               <p class="h2 name wow shake" style="font-family: 'Lemon', cursive;" data-wow-delay="2s">Ali Shaker</p>
               <p class="h4 font-weight-light wow bounceInUp" style="font-family: 'Playball', cursive" data-wow-delay="3s">Porgrammer</p>
               <button class="wow rubberBand" data-wow-delay="4s">Download CV</button>
           </div>
      
   </header>
     

         <!-- End Header -->

         <section id="someinfo">
             <div class="container">
                 <div class="row bod text-left">
                        <div class="col-md-4 myborder wow zoomInUp" data-wow-delay="1s">
                            <h2>Welcome message</h2>
                            <h4 class="font-weight-light">Hello Dear,</h4>
                            <p class="lead">
                                 I am Ali Shaker I am 23 years old I live in Baghdad and study at Mustansiriya University in the Department of Computer Science I completed the Fourth stage.
                            </p>
                          
                        </div>
                        <div class="col-md-4 col-sm-6 myborder wow zoomInUp" data-wow-delay="2s">
                                <h2>Basic Information</h2>
                                <ul class="list-unstyled font-weight-light">
                                    <li><strong><i class="fas fa-child"></i> </strong>1996-7-11</li>
                                    <li><strong><i class="fas fa-map-marker-alt"></i> </strong>Iraq , Baghdad</li>
                                    <li><strong><i class="fa fa-mortar-board"></i> </strong>Al-Mustansiriya University</li>
                                    <li><strong><i class="fa fa-mortar-board"></i> </strong>Computer Seinesce</li>
                                    <li><strong><i class="fas fa-envelope"></i> </strong>alialrobae1996@gmail.com</li>
                                    <li><strong><i class="fas fa-mobile"></i> </strong>07711625240</li>
                                    <li><strong><i class="fas fa-language"></i> </strong>Arabic , English</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 myborder wow zoomInUp" data-wow-delay="3s">
                                   <h2>Hobby</h2>
                                   <ul class="list-unstyled font-weight-light">
                                       <li><strong><i class="fas fa-futbol"></i> </strong>Football</li>
                                       <li><strong><i class="fas fa-swimmer"></i> </strong>Swimming</li>
                                       <li><strong><i class="fas fa-film fa-1x"></i> </strong>Watching Movie</li>
                                       <li><strong><i class="fas fa-plane"></i> </strong>Travel</li>
                                       <li><strong><i class="fas fa-camera"></i> </strong>Photographer</li>          
                                   </ul>
                           </div>
                 </div>
                 
             </div>
         </section>

        <section id="about" class="text-center">
            <div class="container">
                <h3>Education</h3>
                <p class="lead">

                </p>
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow bounceInLeft" data-wow-delay="1s">
                            <i class="fas fa-school fa-2x"></i>
                        <h3 class="font-italic font-weight-light">Primary School</h3>
                        <h3 class="font-italic ">Abdullah bin Massod School</h3>
                        <h4 class="font-weight-light">2002 - 2008</h4>
                        <p class="lead">
                           
                        </p>
                    </div>
                      <div class="col-lg-3 col-md-6 bord wow bounceInLeft" data-wow-delay="1.5s">
                            <i class="fas fa-school fa-2x"></i>
                        <h3 class="font-italic font-weight-light">Middle School</h3>
                          <h3 class="font-italic ">Al-aqmar School</h3>
                        <h4 class="font-weight-light">2009 - 2011</h4>
                        <p class="lead">
                           
                        </p>
                    </div>
                      <div class="col-lg-3 col-md-6 bord1 wow bounceInLeft" data-wow-delay="2s">
                            <i class="fas fa-school fa-2x"></i>
                            <h3 class="font-italic font-weight-light">Secondary School</h3>
                          <h3 class="font-italic ">Koutaiba School</h3>
                        <h4 class="font-weight-light">2012 - 2014</h4>
                        <p class="lead">
                           
                        </p>
                    </div>
                      <div class="col-lg-3 col-md-6 wow bounceInLeft" data-wow-delay="2.5s">
                        <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                        <h3 class="font-italic font-weight-light">University</h3>
                          <h3 class="font-italic ">Al-Mustansiriya</h3>
                        <h4 class="font-weight-light">2015 - Now</h4>
                        <p class="lead">
                           
                        </p>
                    </div>
                </div>
              
            </div>
        </section>



        
        <section id="skill">
            <div class="container">
                
                <h3 class="font-weight-light text-center colo">Skills</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInLeft" data-wow-delay="0.5s" >
                        <div class="box">
                            <div class="chart" data-percent="95">80%</div>
                        </div>
                        <h2 class="text-center font-weight-light">Html</h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInLeft" data-wow-delay="1s">
                        <div class="box">
                            <div class="chart" data-percent="90">70%</div>
                        </div>
                        <h2 class="text-center font-weight-light">Css</h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInLeft" data-wow-delay="1.5s">
                        <div class="box">
                            <div class="chart" data-percent="80">70%</div>
                        </div>
                        <h2 class="text-center font-weight-light">JavaScript</h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInLeft" data-wow-delay="2s">
                        <div class="box">
                            <div class="chart" data-percent="75">75%</div>
                        </div>
                        <h2 class="text-center font-weight-light">Bootstrap</h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay="2.5s">
                        <div class="box">
                            <div class="chart" data-percent="60">55%</div>
                        </div>
                        <h2 class="text-center font-weight-light">PHP</h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay="3s">
                        <div class="box">
                            <div class="chart" data-percent="90">75%</div>
                        </div>
                        <h2 class="text-center font-weight-light">C#</h2>
                    </div>
                    
                     <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay="4s">
                        <div class="box">
                            <div class="chart" data-percent="65">75%</div>
                        </div>
                        <h2 class="text-center font-weight-light">Vb.net</h2>
                    </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay="4.5s">
                        <div class="box">
                            <div class="chart" data-percent="65">70%</div>
                        </div>
                        <h2 class="text-center font-weight-light">Python</h2>
                    </div>
                </div>
                
            </div>
            
        </section>
        
        
        
        
        <section id="con">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 wow bounceInUp" data-wow-delay="1s">
                        <h2 class="logo">Ali Shaker</h2>
                        <p class="lead">
                         I am Ali Shaker I am 23 years old I live in Baghdad and study at Mustansiriya University in the Department of Computer Science I completed the Fourth stage.
                        </p>
                    </div>
                    <div class="col-md-3 ss wow bounceInUp" data-wow-delay="1.5s">
                        <h2>USEFUL LINKS</h2>
                        <ul class="list-unstyled csn">
                            <li><a href="#home">HOME</a></li>
                            <li><a href="#someinfo">INFO</a></li>
                            <li><a href="#about">EDUCATION</a></li>
                            <li><a href="#skill">SKILLS</a></li>
                           <li><a href="#con">ABOUT</a></li>
                           
                         
                        </ul>
                    </div>
                    <div class="col-md-4 ss wow bounceInUp" data-wow-delay="2s">
                       <h2>CONTACT</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Live : Baghdad</a></li>
                            <li><a href="#">Phone : 07711625240</a></li>
                            <li><a href="#">Email : alialrobae1996@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social text-center wow bounceInUp" data-wow-delay="2.5s">
                     <ul class="list-unstyled">
                            <li><a href="https://t.me/alloush1196"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100007875946508"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/11_ali_7/"><i class="fa fa-instagram"></i></a></li>
                          
                        </ul>
                </div>
            </div>
        </section>


        
        <footer class="text-center">
            <div class="container">
                <p class="lead wow jackInTheBox" data-wow-delay="1s">© Copyright 2018. All Rights Reserved To &reg; <span>Ali Shaker</span></p>
                
            </div>
        </footer>
        
        
        
        
        
     
        <script src="{% static 'mainn/lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainn/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'mainn/lib/jquery/jquery.easypiechart.js' %}"></script>
        <script src="{% static 'mainn/js/main.js' %}"></script>
        
        
        <script>

            $(function() {
                $('.chart').easyPieChart({
                    barColor: '#18d26e',
                    scaleColor: false,
                    lineWidth: 15,
                    trackColor: '#373737',
                    
                    
                    
        
                });
            });

        </script>
        
        <script src="js/wow.min.js"></script>
        <script>
              new WOW().init();
        </script>

        <script type="text/javascript">
                $(window).on("scroll", function() {
                    if($(window).scrollTop()) {
                          $('.navbar').addClass('col');
                    }

                    else {
                          $('.navbar').removeClass('col');
                    }
               })
        </script>
        <script>
     
    
        </script>

        
    </body>
</html>